<br>
<div class="container card card-body mb-3">
  <br>
  <%- include ('./partials/messages'); %>
  <form method="POST" action="/user/appointmentCode">
    <br>
    <h3 class=" display-3 text-center">Appointment Code</h3>
    <input type="number" name="code" placeholder="Enter the Code " class=" form-control">
    <br>
    <center><button type="submit" class="btn btn-primary btn-success">Enter Chat</button></center>
    <br>
  </form>
</div>